*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background-color: rgb(65,67,71);
    justify-content: center;
    align-items: center;
}

.navbar{
    backdrop-filter: blur(15px);
    display: flex;
    width: 100%;
    height: 85px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    overflow: hidden;
    z-index: 1000;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.navbar a:hover{
    color: rgb(152,131,244);
}

.navbar ul li{
    display: inline-block;
    padding-left: 100px;
}

.sub-movies{
    display: none;
    background-color: rgb(65, 67, 71);
    margin-top: 20px;
    z-index: 2000;
    height: 300px;
}

#list-sub-movies a{
    float: none;
    display: block;
}

.navbar ul li:hover .sub-movies{
    display: block;
    position: absolute;
}

.navbar ul li:hover .sub-movies ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar ul li:hover .sub-movies ul li{
    padding-left: 0%;
}

.navbar ul li:hover .sub-movies ul li a{
    color: aliceblue;
}

.sub-series{
    display: none;
    background-color: rgb(65, 67, 71);
    margin-top: 20px;
    z-index: 2000
}

.navbar ul li:hover .sub-series{
    display: block;
    position: absolute;
}

.navbar ul li:hover .sub-series ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar ul li:hover .sub-series ul li{
    padding-left: 0%;
}

.navbar ul li:hover .sub-series ul li a{
    color: aliceblue;
}

.navbutton button{
    height: 40px;
    width: 65px;
    border: none;
    border-radius: 5px;
    margin-right: 7px;
    font-weight: bold;
}

.navbutton button:hover{
    background-color: rgb(152,131,244);
}

.search{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search form input{
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

form button{
    margin-top: 20px;
}

#submitting{
    width: 85px;
    height: 50px;
    border: none;
    color: #fff;
    align-items: center;
    padding-top: 5px;
    font-size: 35px;
    font-weight: 1100;
    border-radius: 20px;
    background-color: rgb(152,131,244);
}

#submitting:hover{
    background-color: #fff;
    color: rgb(152,131,244);
    cursor: hand;

}

#search-movie{
    height: 50px;
    width: 450px;
    border-radius: 20px;
    background-color: rgb(65,67,71);
    color: white;
    border: none;
}

#search-movie:hover{
    border: 3px solid rgb(152,131,244);
}

#search-movie::placeholder{
    font-weight: 700;
    
}

#search-result{
    border: none;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(65,67,71);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.movie-container{
    border: none;
    margin: 10px;
    border-radius: 7px;
    background-color: rgb(35,32,32);
    margin: 10px;
    width: min-content;
    color: white;
    font-size: 16px;
    height: fit-content;
    width: 40vh;
    overflow: hidden;
    text-align: center;
    box-shadow:  5px 5px 10px #292929,
    -5px -5px 10px #2d2d2d;
}

.movie-poster{
    width: 100%;
    height: 400px;
}

.movie-button{
    height: 35px;
    width: 140px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    background-color: rgb(152,131,244);
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
}

.movie-button:hover{
    background-color: #fff;
    color: rgb(152,131,244);
}

.trailer-button{
    height: 45px;
    width: 45px;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background-color: rgb(152,131,244);
    border: none;
    justify-content: center;
    border-radius: 50%;
    margin: 10px;
}

.trailer-button i{
    font-size: 20px;
}

.trailer-button:hover{
    background-color: #fff;
    color: rgb(152,131,244);
}

#favourite-movie{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    background-color: rgb(65,67,71);
    gap: 4px;
}

.remove-button{
    height: 35px;
    width: 110px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    background-color: rgb(152,131,244);
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
}

.remove-button:hover{
    background-color: #fff;
    color: rgb(152,131,244);
}

#scrolling{
    justify-content: center;
    align-items: center;
}
.favourite-pack{
    flex: 1 0 auto;
    border: none;
    margin: 10px;
    border-radius: 7px;
    background-color: rgb(35,32,32);
    margin: 10px;
    width: min-content;
    color: white;
    font-size: 16px;
    height: fit-content;
    width: 40vh;
    overflow: hidden;
    text-align: center;
    box-shadow:  5px 5px 10px #292929,
    -5px -5px 10px #2d2d2d;
}

.favourite-poster{
    height: 400px;
}

#heading-favourite{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 1100;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(152,131,244);
}

.favourite-movie{
    width: 100%;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
}

.video-container{
    position: relative;

}

.video-dispaly{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

#detail-movie{
    display: none;
    position: fixed;
    z-index: 100;
    border: none;
    border-radius: 7px;
    font-size: 19px;
    font-weight: 600;
    height: fit-content;
    width: 60vh;
    text-align: left;
    padding: 25px;
    color: white;
    background-color: rgb(65,67,71);
    box-shadow:  5px 5px 10px #292929,
    -5px -5px 10px #2d2d2d;
}

#detail-movie.visible{
    display: block;
}

::-webkit-scrollbar{
    width: 13px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, #fff);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(transparent, rgb(152,131,244));
    border-radius: 10px;
}

.fav-package{
    align-items: center;
}

footer{
    margin: 30px;
    display: flex;
    justify-content: center;
}

footer a{
    font-size: 40px;
    align-items: center;
    padding-left: 60px;
}

footer a:hover{
    color: #fff;
}

.modal{
    display: none;
    margin-top: 100vh;
    position: absolute;
    z-index: 1000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal-content{
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #888;
    width: 80%;
    max-width: 600px;
}

.close{
    color: aqua;
    float: right;
    font-size: 30px;
    font-weight: 900;
}

.close:hover,
.close:focus{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}